/* ================ Google Fonts ================ */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;400;500;700&display=swap');

/* ================ Generals ================ */

html, body {
    overflow-x: hidden;
}

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.flashes {
    width: 100%;
    background-color: #000;
}

.flashes-messages {
    width: 50%;
    margin: auto;
}

section {
    min-height: 100vh;
}

/* class to give some properties to any animation implemented throught out the project */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.btn-scroll {
    /* position: relative; */
    display: none;
    position: fixed;
    bottom: 8vh;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #f55308;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    font-size: 18px;
    transition: all .5s ease-in-out;
}

.btn-scroll:hover {
  background-color: #fff; /* Add a dark-grey background on hover */
  color: #f55308;
  border: 1px solid #f55308;
}

/* ================ Forms ================ */

.forms {
    background-color: #000;
    background-image: -webkit-linear-gradient(57deg, #000000 38%, #ffffff 32%);
    background-image:    -moz-linear-gradient(57deg, #000000 38%, #ffffff 32%);
    background-image:     -ms-linear-gradient(57deg, #000000 38%, #ffffff 32%);
}

fieldset {
    width: 50%;
    margin: 50px auto 0px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px -1px 12px 18px #fff;
}

legend {
    color: #f55308;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 10px;
}

label {
    color: #f55308;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.buttons {
    margin: 10px 0;
}

.btn-submit {
    background-color: #f55308;
    color: #fff;
    border: .3px solid #fff;
    transition: all .5s ease-in-out;
    border-radius: 12px;
    padding: .7rem 1.2rem;
}

.btn--cancel {
    background-color: #1a1a1a;
    color: #fff;
    border: .3px solid #fff;
    transition: all .5s ease-in-out;
    border-radius: 12px;
    padding: .7rem 1.2rem;
}

.btn-submit:hover {
    background-color: #fff;
    color: #f55308;
    border: .3px solid #f55308;
}

.btn--cancel:hover {
    background-color: #fff;
    border: .3px solid #1a1a1a;
    color: #1a1a1a;
}

/* ================ Register and Login Form ================ */

.info {
    text-align: center;
    margin: 20px 0;
    color: #f55308;
    font-weight: 300;
    font-size: 20px;
}

.info a {
    color: #f55308;
    transition: all .5s ease-in-out;
}

.info a:hover {
    color: #f55308;
}

/* ================ Search Form ================ */
.searcher {
    margin-top: 20px;
    display: flex;
    padding: 5px;
}

.search-button {
    margin-left: auto;
}

.searcher span {
    color: #f55308;
    font-size: 18px;
    float: right;
}

.searcher-icon {
    color: #f55308;
    font-size: 25px!important;
}

.search-form {
    width: 100%;
    padding: 0 20px;
    border-radius: 12px;
}

.search-form legend {
    font-size: 22px;
}

.search {
    width: 80%;
    margin-right: 20px;
    outline: none;
    border-radius: 12px;
}

.search-form .btn {
    color: #fff;
    transition: all .5s ease-in-out;
}

.search-form .btn-search {
    background-color: #f55308;
    border: .3px solid #1a1a1a;
}

.search-form .btn-search-invert {
    background-color: #1a1a1a;
    border: .3px solid #f55308;
}

 .search-form .btn-search:hover {
    background-color: #fff;
    color: #f55308;
    border: .3px solid #f55308;
}

.search-form .btn-search-invert:hover {
    background-color: #fff;
    color: #1a1a1a;
    border: .3px solid #1a1a1a;
} 

.btn i {
    font-size: 15px;
    margin-right: 5px;
}

.results-text {
    text-align: center;
    color: red;
    font-weight: 400;
    margin-top: 10px;
    font-size: 22px;
}

/* ================ Nav ================ */

.nav-bg {
    background-color: #000;
    min-height: 8vh;
}

.nav-bg i {
    color: #f55308;
    font-size: 33px;
}

.logo {
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: #f55308;
	position: relative;
	line-height: 50px;
}

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

.logo:hover {
    color: #f55308;
}

.nav-link {
    padding: .5rem 1.3rem!important;
    color: #f55308;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

.nav-link:hover {
    color: #f55308;
}

/* Code take it from stack overflow */

.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    background-color: #f55308;
    transition: width 0.5s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%; 
    left: 0; 
}
/* /Code take it from stack overflow */

.ml-auto {
    margin-left: auto;
}

/* ================ Index ================ */

.main-text h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 20% 0;
    position: relative;
    text-align: center;
    color: #1a1a1a;
}

.capital-letter {
    font-size: 50px;
    color: #1a1a1a!important;
}

.main-text h1 span {
    color: #f55308;
}

.fadeInLeftBig { 
    -webkit-animation-name: fadeInLeftBig; 
    animation-name: fadeInLeftBig; 
}

/* Carousel */

.carousel-inner  {
    margin-bottom: 20px;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    min-height: 500px;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h5 {
    font-size: 60px;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
}

.carousel-caption p {
    font-size: 22px;
}

/* End of  Carousel */

.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-body {
    position: relative;
}

.card {
    width: 100%;
    margin: 20px 10px;
    box-shadow: 9px 8px 12px 4px #1a1a1a;
    min-height: 350px;
}

figure {
    position: relative; 
    overflow: hidden;
    margin: 0;
    height: 150px;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

.card-title {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}

.card-title:hover {
    color: #1a1a1a;
    letter-spacing: .7px;
}

.card-text {
    color: #f55308;
    font-size: 18px;
}

.card-body small {
    text-transform: capitalize;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    font-weight: 300;
}

.btn-sandwich {
    background-color: #f55308;
    padding: .5rem .8rem;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin: 20px 0 20px 50%;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
}

.btn-sandwich:hover {
    border: 1px solid #f55308;
    color: #f55308;
    background-color: #fff;
}

/* ================ Sandwich ================ */
.sandwich {
    min-height: 800px;
    padding: 20px 50px;
    margin: 0 0 20px 0;
}

.info-sandwich h3 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid #1a1a1a;
}

.info-sandwich h3:hover {
    letter-spacing: 3px;
}

.info-sandwich p {
    text-align: center;
    text-transform: capitalize;
}

.sandwich-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.sandwich-description {
    background-color: #ece6e6;
    height: 100%;
    padding: 40px;
    border-radius: 12px;
    position: relative;
}

.sandwich-description h3 {
    text-transform: capitalize;
}

.sandwich-description p span {
    font-weight: 700;
    text-transform: capitalize;
}

.sandwich-description p {
    text-transform: capitalize;
}

.options {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.options .btn {
    color: #fff;
    transition: all .5s ease-in-out;
}

.btn-edit {
    background-color: #f55308;
    border: .3px solid #fff;
    transition: all .5s ease-in-out;
    border-radius: 12px;
    padding: .5rem 1rem;
}

.btn-cancel {
    background-color: #1a1a1a;
    border: .3px solid #fff;
    transition: all .5s ease-in-out;
    border-radius: 12px;
    padding: .5rem 1rem;
}

.btn-edit:hover {
    background-color: #fff;
    color: #f55308;
    border: .3px solid #f55308;
}

.btn-cancel:hover {
    background-color: #fff;
    color: #1a1a1a;
    border: .3px solid #1a1a1a;
}

.modal-open {
    background-color: #0c0c0c52;
}

.modal-title {
    margin-left: auto;
}

.modal-footer .btn {
    color: #fff;
}

.modal-footer .btn-edit:hover {
    color: #f55308;
}

.modal-footer .btn-cancel:hover {
    color: #1a1a1a;
}

.card-body-btn {
    margin: auto;
}

/* ================ All Sandwich ================ */

.title {
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
}

.card-all-sandwich {
    width: 100%;
    height: 300px;
    border: 1px solid #1a1a1a;
    position: relative;
}

.card-all-sandwich img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body-sandwich {
    height: 100%;
    padding: 20px;
}

.card-body-sandwich .card-title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: 500;
}

.card-body-sandwich .card-title:hover {
    letter-spacing: 1.5px;
}

.card-body-sandwich p {
    text-transform: capitalize;
}

.card-body-sandwich .card-text small {
    position: absolute;
    bottom: 10px;
    font-weight: 300;
}

/* pagination info */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 18px;
    text-transform: capitalize;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 18px;
}

/* ================ Footer ================ */
.footer-site {
    min-height: 8vh;
    background-color: #000;
    display: flex;
    align-items: center;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.social-links i {
    font-size: 35px;
    color: #f55308;
    transition: all .5s ease-in-out;
}

.social-links i:hover {
    color: #fff;
}

.copyright p {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    color: #fff;
}

.copyright p small {
    font-weight: 400;
    color: #f55308;
}

.copyright p span {
    color: #f55308;
    font-size: 18px;
    text-transform: capitalize;
}

/* ANIMAATIONS */

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

@-webkit-keyframes fadeInLeftBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-200px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeftBig { 
    0% { 
        opacity: 0; 
        transform: translateX(-200px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* ================ Media Queries ================ */
@media only screen and (max-width: 600px) {
    /* Generals */
    .flashes-messages {
        width: 100%;
    }
    /* Index */
    .logo {
        font-size: 1.5rem;
    }

    .main-text h1 {
        font-size: 22px;
    }

    .small-text {
        height: auto;
    }

    .small-text p {
        font-size: 20px;
        text-align: center;
    }

    .card {
        width: 80%;
        margin: 20px auto;
        box-shadow: none;
    }

    /* Search form on index.html */
    .search {
        width: 100%!important;
    }

    .search-form .btn {
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 5px;
    }

    /* Forms */
    fieldset {
        width: 100%;
        box-shadow: none;
    }

    /* All Sandwich */
    .card-sandwich {
        height: auto;
        width: 75%;
        margin: 10px auto;
    }

    /* Sandwich */
    .sandwich-img img {
        height: 100%;
    }

    .sandwich-description {
        margin: 20px auto;
        width: 100%;
        padding: 10px;
    }

    .options .btn {
        padding: .5rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    /* Index */
    .logo {
        font-size: 2rem;
    }

    .main-text h1 {
        font-size: 30px;
    }

    .small-text {
        height: auto;
    }

    .card {
        width: 100%;
        box-shadow: none;
    }
    /* Search form */
    .search {
        width: 60%;
    }

    .search-form .btn {
        padding: 10px 2%;
    }

    /* Forms */
    fieldset {
        width: 75%;
    }
    /* Sandwich */
    .sandwich-img img {
        height: 100%;
    }

    .sandwich-description {
        margin: 20px 0;
    }

    /* All Sandwiches */
    .card-all-sandwich {
        width: 75%;
        margin: auto;
        height: auto;
    }
}

@media only screen and (min-width:991px) and (max-width:1245px) {
    /* Search Form */
    .search-form .btn {
        padding: 10px;
    }

    .search-form .btn i {
        display: none;
    }

    /* Sandwich */
     .options .btn {
        padding: .5rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
    }
}