{% extends 'base.html' %}
{% block title %}
See All What We Have
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title">
                    see all what we have!
                </h1>
            </div>
        </div>
        <div class="row">
            {{ pagination.info }}
            {% for sandwich in sandwiches %}
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card-sandwich card-all-sandwich mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="{{ sandwich.imageUrl }}" alt="{{ sandwich.sandwich_name }}">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body-sandwich">
                                <a href="{{ url_for('sandwich', sandwich_id=sandwich._id) }}" class="card-title">
                                    {{ sandwich.sandwich_name }}
                                </a>
                                
                                <p class="card-text">{{ sandwich.sandwich_category }}</p>
                                <p class="card-text">{{ sandwich.sandwich_description }}</p>
                                <p class="text-truncate">
                                    {{ sandwich.ingredients }}
                                </p>
                                <p class="card-text"><small class="text-muted">{{ sandwich.created_by }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {{ pagination.info }}
        {{ pagination.links }}
    </div>
</section>
{% endblock %}