{% extends 'base.html' %}
{% block title %}
Edit Sandwich
{% endblock %}
{% block content %}
<section class="forms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{{ url_for('edit_sandwich', sandwich_id=sandwich._id) }}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend>Edit Sandwich</legend>
                         <!-- Sandwich Category -->
                        <div class="form-group">
                            <label for="validationCustom04" class="form-control-label">Sandwich Category</label>
                            <select class="form-select form-select-lg" id="validationCustom04" name="sandwich_category" required>
                                <option selected disabled value="">Choose an Option</option>
                                {% for category in categories %}
                                <option>{{ category.sandwich_category }}</option>
                                {% endfor %}
                            </select>
                            <!-- Invalid message -->
                            <div class="invalid-feedback">
                                <span>Choose a valid option</span>
                            </div>
                        </div>
                        <!-- /Sandwich Category -->
                        <!-- Sandwich Name -->
                        <div class="form-group">
                            {{ form.sandwich_name.label(class="form-control-label") }}
                            <!-- Validation Sandiwch Name input -->
                            {% if form.sandwich_name.errors %}
                                {{ form.sandwich_name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sandwich_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sandwich_name(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation Sandiwch Name input -->
                        </div>
                        <!-- /Sandiwch Name -->
                         <!-- Sandwich Description -->
                        <div class="form-group">
                            {{ form.sandwich_description.label(class="form-control-label") }}
                            <!-- Validation Sandiwch Description input -->
                            {% if form.sandwich_description.errors %}
                                {{ form.sandwich_description(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sandwich_description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sandwich_description(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation Sandiwch Description input -->
                        </div>
                        <!-- /Sandiwch description -->
                         <!-- Image Url -->
                        <div class="form-group">
                            {{ form.image_Url.label(class="form-control-label") }}
                            <!-- Validation Image Url input -->
                            {% if form.image_Url.errors %}
                                {{ form.image_Url(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.image_Url.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.image_Url(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation Image Url input -->
                        </div>
                        <!-- /Image Url -->
                            <!-- Ingredients -->
                        <div class="form-group">
                            {{ form.ingredients.label(class="form-control-label") }}
                            <!-- Validation Image Url input -->
                            {% if form.ingredients.errors %}
                                {{ form.ingredients(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.ingredients.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ingredients(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation Ingredients input -->
                        </div>
                            <!-- /Ingredients -->
                            <!-- Portion -->
                        <div class="form-group">
                            {{ form.portion.label(class="form-control-label") }}
                            <!-- Validation Portion input -->
                            {% if form.portion.errors %}
                                {{ form.portion(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.portion.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.portion(class="form-control form-control-lg") }}
                            {% endif %}
                        <!-- Validation Portion input -->
                        </div>
                        <!-- /Portion -->
                        <!-- Duration -->
                        <div class="form-group">
                            {{ form.duration.label(class="form-control-label") }}
                            <!-- Validation Duration input -->
                            {% if form.duration.errors %}
                                {{ form.duration(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.duration.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.duration(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation Duration input -->
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="buttons text-center">
                            {{ form.submit(class="btn btn-submit") }}
                            <a href="{{ url_for('sandwich', sandwich_id=sandwich._id) }}" class="btn btn--cancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}