{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="searcher">
                    <button class="btn btn-lg search-button" onclick="search()">
                        <i id="search-trigger" class="fas fa-search searcher-icon"></i>
                        <span id="search-text">Looking for Something?</span>
                    </button>
                    <form method="POST" id="form" class="search-form" action="{{ url_for('search') }}">
                        <input type="search" name="query" id="query" class="search" placeholder="Type name or ingredients of a sandwich" required>
                        <a href="{{ url_for('index')}}" class="btn btn-danger">Reset</a>
                        <button type="submit" class="btn btn-success"><i class="fas fa-search"></i>Go</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="main-text animated fadeInLeftBig">
                    <h1>
                        <span class="capital-letter">W</span>hat is a life without the best secrets? Share your recipe, got new ideas and dont't miss more than <span>5000</span> tasty experiences!
                    </h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="small-text animated fadeInRightBig">
                    {% if current_user.username %}
                        <p>Eureka!! I found the tastiest recipe.
                            <a href="{{ url_for('add_sandwich') }}">Share your sandwich!</a>
                        </p>
                    {% else %}
                        <p>Is your mind blank? Are you looking for the perfect sandwich?
                        <a href="{{ url_for('register') }}">Register</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        {% for sandwich in sandwich_carousel %}
                        <div class="carousel-item {% if loop.index == 1%} active {% endif %}">
                            <img src="{{ sandwich.imageUrl }}" class="d-block w-100" alt="slide-image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ sandwich.sandwich_name }}</h5>
                                <p>{{ sandwich.sandwich_description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            {% if sandwiches|length > 0 %}
                {% for sandwich in sandwiches %}
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <figure>
                                <a href="{{ url_for('sandwich', sandwich_id=sandwich._id) }}">
                                    <img src="{{ sandwich.imageUrl }}" class="card-img-top shine"
                                        alt="{{ sandwich.sandwich_name }}">
                                </a>
                            </figure>
                            <div class="card-body">
                                <a class="card-title"
                                    href="{{ url_for('sandwich', sandwich_id=sandwich._id) }}">{{ sandwich.sandwich_name }}</a>
                                <p class="card-text text-truncate">
                                    {{ sandwich.sandwich_description }}
                                </p>
                                <p class="text-truncate">
                                    {{ sandwich.ingredients }}
                                </p>
                                <small>
                                    {{ sandwich.created_by }}
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <span class="results-text">No results</span>
            {% endif %}
        </div>
        {% if sandwiches|length >= 8 %}
        <a href="{{ url_for('all_sandwich') }}" class="btn btn-sandwich">
            Wanna See More?
        </a>
        {% else %}
            <a href="{{ url_for('add_sandwich') }}" class="btn btn-sandwich">
            Wanna Add a Sandwich?
        </a> 
        {% endif %}
    </div>
</main>
{% endblock %}