
{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{{ url_for('register')}}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend>Sign Up</legend>

                        <!-- Username -->
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            <!-- Validation username input -->
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation username input -->
                        </div>

                        <!-- Email -->
                         <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            <!-- Validation email input -->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation email input -->
                        </div>

                        <!-- Password -->
                         <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            <!-- Validation password input -->
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation password input -->
                        </div>

                        <!-- Confirm Password -->
                         <div class="form-group">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            <!-- Validation confirm_password input -->
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                            <!-- Validation confirm_password input -->
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-submit") }}
                    </div>
                </form>
                <p class="info">
                    <small>Already Registered? <a href="{{ url_for('login') }}">Login</a></small>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}