{% extends 'base.html' %}
{% block title %}
Sandwich
{% endblock %}
{% block content %}
<section>
    <div class="card" style="width: 18rem;">
    <img src="{{ sandwich.imageUrl }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ sandwich.sandwich_name }}</h5>
        <p class="card-text">{{ sandwich.sandwich_category }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ sandwich.ingredients }}</li>
        <li class="list-group-item">{{ sandwich.portion }}</li>
        <li class="list-group-item">{{ sandwich.created_by }}</li>
    </ul>
    <div class="card-body">
        <a href="{{ url_for('edit_sandwich', sandwich_id=sandwich._id) }}" class="btn btn-info">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
</div>
</section>
{% endblock %}