{% extends 'base.html' %}
{% block title %}
Sandwich
{% endblock %}
{% block content %}
<section class="sandwich">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="info-sandwich">
                    <h3>
                        {{ sandwich.sandwich_name }}
                    </h3>
                    <p>
                        <small>created by: {{ sandwich.created_by }}</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="sandwich-img">
                    <img src="{{ sandwich.imageUrl }}" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <aside class="sandwich-description">
                    <h3>
                        <i class="fas fa-pencil-alt"></i> {{ sandwich.sandwich_name }}
                    </h3>
                    <p>
                        <span>Category:</span> {{ sandwich.sandwich_category }}
                    </p>
                    <p>
                        <span>Description:</span> {{ sandwich.sandwich_description }}
                    </p>
                    <p>
                        <span><i class="far fa-clock"></i> :</span> {{ sandwich.duration }} min.
                    </p>
                     <p>
                        <span><i class="fas fa-signal"></i> :</span> {{ sandwich.difficulty }}
                    </p>
                     <p>
                         <span>Portion:</span> {{ sandwich.portion }}
                        </p>
                    <p><span>Ingredients:</span></p>
                        <ul>
                        <li>
                            {{ sandwich.ingredients }}
                        </li>
                    </ul>
                    {% if sandwich.created_by == current_user.username %}
                        <div class="options">
                            <a href="{{ url_for('edit_sandwich', sandwich_id=sandwich._id) }}"
                                    class="btn btn-info btn-lg">Edit</a>
                            <button class="btn btn-danger btn-lg" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Sure you want yo Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <form action="{{ url_for('delete_sandwich', sandwich_id=sandwich._id) }}">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}